body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #f4f6f8; /* soft light gray */
}
body.dark-mode {
  background-color: #0b0b0b; /* page background */
  color: #ffffff; /* default text color */
}
/* App container */
body.dark-mode .app-container {
  background-color: #121212; /* dark container instead of white */
}


.app-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
background-color: #ffffff; /* clean white */
  height: 100vh;
  padding: 10px 20px;
  box-sizing: border-box;
}

.chat-header {
  text-align: center;
  padding: 12px 0;
  border-bottom: 1px solid #2e2e4e;
  margin-bottom: 10px;
}

.chat-header h2 {

  font-size: 18px;
  margin: 0;
  font-weight: 600;
}
